<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JDNotes</title>
	<link rel="stylesheet" href="static/CSS/index.css">
	<link rel="stylesheet" href="static/CSS/header.css">
</head>
<body>
	<div id="header">
        <a id="mainlogo" href="/index">主LOGO</a>
        <a class="label1" href="https://space.bilibili.com/15650467">bilibili</a>
        <a class="label1" href="https://github.com/WangYiwei-oss/JDNotes">github</a>
	<a class="label1" href="pages/mynotes.html">我的笔记</a>
	<a class="label1" href="pages/expassistant.html">实验助手</a>
	<a class="label2" href="pages/user/register.html">注册</a>
        <a class="label2" href="/pages/user/login.html">登陆</a>
        </div>
        <div id="welcome"></div>
	<h1 style="text-align:center">欢迎使用JDNotes</h1>
</body>
</html>
