<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆</title>
	<link rel="stylesheet" href="/static/CSS/login.css">
	<link rel="stylesheet" href="/static/CSS/header.css">
	<script src="/static/JS/jquery-1.10.2.js"></script>
	<script>
		$(document).ready(function(){
                        $("#msg").hide()
                        if("{{.}}"=="用户名或密码错误"){
                                $("#msg").show()
                        }
                });
	</script>
</head>
<body>
<div id="header">
	<a id="mainlogo" href="/index"><img src="static/logo/main.png" alt="返回主页面"></a>
        <a class="label1" href="https://space.bilibili.com/15650467">bilibili</a>
        <a class="label1" href="https://github.com/WangYiwei-oss/JDNotes">github</a>
	<a class="label1" href="/mynotes">我的笔记</a>
        <a class="label1" href="/expassistant">实验助手</a>
        <a class="label2" href="/toregister">注册</a>
        </div>
        <div id="welcome"><img src="/static/logo/welcom.jpg"></div>
        <div id="span01">登陆</div>
        <div id="login">
        <span id="msg">{{.}}</span>
	<form action="/login" method="POST">
		<input class="text1" type="text" name="username" placeholder="请输入昵称">
                <input class="text2" type="password" name="password" placeholder="请输入密码">
		<input class="button1" type="submit" value="登陆">
        </form>
        <form action="/pages/user/register.html">
                <input class="button2"type="submit" value="注册">
        </form>
        </div>
        <div id=span02></div>
</body>
</html>
