<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>注册</title>
        <link rel="stylesheet" href="/static/CSS/register.css">
	<link rel="stylesheet" href="/static/CSS/header.css">
        <script src="/static/JS/jquery-1.10.2.js"></script>
	<script>
                $(document).ready(function(){
                        $("#msg").hide()
			if("{{.}}"=="该用户已存在"||"{{.}}"=="邮箱格式错误"||"{{.}}"=="两次密码输入不一致"||"{{.}}"=="请输入用户名"||"{{.}}"=="请输入密码"){
                                $("#msg").show()
                        }
			 $("#username").change(function(){
                		//获取输入的用户名
                		var username = $(this).val();
                		//设置请求的url地址
                		//设置请求参数
                		var param = {"username":username};
                		//发送Ajax请求
                		$.post("/checkUsername",param,function(res){
                        		//将显示提示信息的span显示出来
                        		$("#msg").show();
                        		//将响应的信息设置到span元素中
                        		$("#msg").html(res);
                		});
        		});
			$("#password2").change(function(){
				var password2=$(this).val();
				var password=$("#password").val();
				var param={"password":password,"password2":password2};
				$.post("/checkPassword",param,function(res){
					if(res=="true"){
						$("#msg").hide();
					}else{
						$("#msg").show();
						$("#msg").html(res);
					}
				});
			});
			$("#email").change(function(){
				var email=$(this).val();
				var param={"email":email}
				$.post("/checkEmail",param,function(res){
					if(res=="true"){
						$("#msg").hide();
					}else{
						$("#msg").show();
						$("#msg").html(res);
					}
				});
			});
                });
        </script>
</head>
<body>
        <div id="header">
	<a id="mainlogo" href="/index"><img src="../../static/logo/main.png" alt="返回主页面"></a>
        <a class="label1" href="https://space.bilibili.com/15650467">bilibili</a>
        <a class="label1" href="https://github.com/WangYiwei-oss/JDNotes">github</a>
	<a class="label1" href="/mynotes">我的笔记</a>
        <a class="label1" href="/expassistant">实验助手</a>
        <a class="label2" href="/tologin">登陆</a>
        </div>
        <div id="welcome"><img src="/static/logo/welcom.jpg"></div>
        <div id="span01">注册</div>
        <div id="login">
        <span id="msg">{{.}}</span>
        <form action="/register" method="POST">
                <input class="text1" type="text" name="username" id="username" placeholder="请输入昵称">
                <input class="text2" type="password" name="password" id="password" placeholder="请输入密码">
		<input class="text3" type="password" name="password2" id="password2" placeholder="请确认密码">
                <input class="text4" type="text" name="email" id="email" placeholder="请输入电子邮箱(非必填)">
                <input class="text5" type="text" name="number" placeholder="请输入手机号(非必填)">
                <input class="button1" type="submit" value="注册">
        </form>
        <form action="/pages/user/login.html">
                <input class="button2"type="submit" value="登陆">
        </form>
        </div>
        <div id=span02></div>
</body>
</html>
