<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实验助手</title>
</head>
<body>
	<div style="background-color:red">
		<div>
		<span>LOGO</span>
		<a href="mynotes.html">我的笔记</a>
		<a href="expassistant.html">实验助手</a>
		<a href="users/login.html">登陆</a>
		<a href="users/register.html">注册</a>
		</div>
		<div>欢迎图片</div>
	</div>
	<div style="background-color:pink">
		<a href="#">计算共沉淀配比</a>
		<a href="#">量子效率输入版</a>
		<a href="#">量子效率文件版</a>
		<a href="#">计算积分面积</a>
	</div>
	<div style="background-color:yellow">
		<h1>实验内容</h1>
	</div>
</body>
</html>
