<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实验助手</title>
	<link rel="stylesheet" href="../static/CSS/header.css">
	<link rel="stylesheet" href="../static/CSS/mynotes.css">
	<link rel="stylesheet" href="../static/CSS/exp.css">
        <script src="static/JS/jquery-1.10.2.js"></script>
	<script src="static/JS/jquery.cookie.js"></script>
	<script>
		{{.script}}
		$(function(){
			if($.cookie('protectcolor')=='1'){
                                $('#protectcolor').attr("checked",true);
                                $('#lower').css('background-color','#CCE8CF')
                        }else{
                                $('#protectcolor').attr("checked",false);
                                $('#lower').css('background-color','white')
                        }
                        $('#protectcolor').click(function(){
                                if($('#protectcolor').is(':checked')){
                                        $('#lower').css('background-color','#CCE8CF')
                                        $.cookie('protectcolor','1',{expires:7})
                                }else{
                                        $('#lower').css('background-color','white')
                                        $.cookie('protectcolor','0',{expires:7})
                                }
                        });
		});
	</script>
</head>
<body>
	<div id="header">
	<a id="mainlogo" href="/index"><img src="static/logo/main.png" alt="返回主页面"></a>
        <a class="label1" href="https://space.bilibili.com/15650467">bilibili</a>
        <a class="label1" href="https://github.com/WangYiwei-oss/JDNotes">github</a>
        <a class="label1" href="/mynotes">我的笔记</a>
        <a class="label1" href="/expassistant">实验助手</a>
	<input id="protectcolor" type="checkbox">
        <label for="protectcolor"></label>
	{{if .login}}
	<a class="label2" href="/mypage">我的主页</a>
	{{else}}
        <a class="label2" href="/toregister">注册</a>
        <a class="label2" href="/tologin">登陆</a>
	{{end}}
        </div>
        <div id="welcome"><img src="/static/logo/welcom.jpg"></div>
	<div id="directory">
		{{range .funcclass}}
		<a href="/expassistant?funcname={{.Funcname}}">{{.Title}}</a>
		{{end}}
        </div>
	<div id="lower">
	<div id="contentexp">
	{{.content}}
	<p id="result"></p>
	</div>
	</div>
</body>
</html>
