<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的笔记</title>
</head>
<body>
	<div style="background-color:red">
		<div>
		<span>LOGO</span>
		<a href="mynotes.html">我的笔记</a>
		<a href="expassistant.html">实验助手</a>
		<a href="users/login.html">登陆</a>
		<a href="users/register.html">注册</a>
		</div>
		<div>欢迎图片</div>
	</div>
	<div style="background-color:pink">
		<a href="#">Golang</a>
		<a href="#">Cpp</a>
	</div>
	<div>
		<div style="background-color:green">
			<div>第一节</div>
			<div>第二节</div>
		</div>
		<div style="background-color:yellow">
			<h1>笔记内容</h1>
		</div>
	</div>
</body>
</html>
