#contentexp{
	float:left;
	margin:20px;
}
#guide{
	width:0px;
}
#b1{
	margin:10px;
	width:20%;
}
#b2{
	margin:10px;
	width:20%;
}
#samples{
	margin:10px;
	width:50%;
	height:20rem;
	overflow:visible;
	font-size:1.2rem;
}
#result{
	margin:10px;
        width:50%;
        height:20rem;
        overflow:visible;
        font-size:1.2rem;
	display:none;
}
button{
	margin:10px;
}
#btn_save{
	display:none;
}
