#contentexp{
	width:70%;
	margin-left:15%;
	margin-right:15%;
	padding:15px;
	height:100%;
	background-color:rgba(100,100,100,0.2);
}
#fileinput{
	margin:5px;
}
#showinfo{
        background-color:rgba(0,0,0,0);
        border-style:none;
        margin:5px 5px 10px 5px;
        padding:0px;
	cursor:pointer;
}
#startwl{
	margin:5px;
	width:30%;
	height:1.2rem;
}
#endwl{
	margin:5px;
	width:30%;
	height:1.2rem;
}
#btn{
	margin:5px;
	height:2.2rem;
	position:relative;
	top:2px;
	text-align:center;
}
#guide{
	width:0px;
}
#b1{
	margin:5px;
	width:20%;
}
#b2{
	margin:5px;
	width:20%;
}
#samples{
	margin:5px;
	width:50%;
	height:20rem;
	overflow:visible;
	font-size:1.2rem;
	border-radius:5px;
}
#result{
	margin:5px;
        width:50%;
        height:20rem;
        overflow:visible;
        font-size:1.2rem;
	border-radius:5px;
	display:none;
}
#btn_save{
	display:none;
	margin:5px;
	width:5rem;
	height:2.2rem;
	background-color:white;
	border-radius:3px;
	line-height:2.2rem;
	text-align:center;
	font-weight:normal;
	color:black;
	font-size:1rem;
}
#info{
        position:absolute;
        left:70%;
        top:30%;
        height:auto;
        width:30%;
        background-color:white;
        padding:5px;
        border-radius:5px;
	display:none;
}
.parmlabel{
	margin:5px;
}
#submit{
	margin:5px;
}
.parms{
	margin:5px;
}
