*{
        font-family:"Arial","Microsoft YaHei";
        text-decoration:none;
}
a{
	color:#2980b9;
	font-weight:bold;
}
a:visited{
	color:#2980b9;
}
a:hover{
	color:#E74C3C;	
}
html,body{
        margin:0px;
        height:100%;
}
#mainlogo{
        margin-left:20px;
        margin-right:20px;
}
#mainlogo>img{
	height:35px;
	margin-left:20px;
	float:left;
}
#header{
        width:100%;
        height:35px;
        background-color:#FFF;
        margin:0px;
        box-shadow:0px 7px 3px -3px #CCC;
        line-height:35px;
}
.label1{
        font-size:1.1rem;
        margin-left:10px;
        margin-right:10px;
}
.label2{
        font-size:1.1rem;
        float:right;
        margin-right:20px;
        margin-left:10px;
}
#protectcolor{
	display:none;
}
#protectcolor+label{
	float:right;
	position:relative;
	margin-top:9px;
	margin-right:20px;
	margin-left:10px;
	width:36px;
	height:18px;
	border-radius:18px;
	cursor:pointer;
}
#protectcolor+label::before,#protectcolor+label::after{
	display:block;
	position:absolute;
	left:1px;
	top:1px;
	bottom:1px;
}
#protectcolor+label::before{
	right:1px;
	border-radius:18px;
	background-color:#BDC3C7;
	content:"";
	transition:background-color 1s;
}
#protectcolor+label::after{
	width:16px;
	border-radius:100%;
	background-color:#34495E;
	content:"";
	transition:margin 0.5s;
}
#protectcolor:checked+label::before{
	background-color:#C7EDCC;
}
#protectcolor:checked+label::after{
	margin-left:18px;
}
#welcome{
        margin-top:8px;
        height:15%;
	width:100%;
}
#welcome>img{
	height:100%;
	width:100%;
}
#directory{
        height:35px;
        width:100%;
        background-color:#669999;
        box-shadow:0px 7px 3px -3px #CCC;
        padding-left:20px;
}
#directory>a{
        line-height:35px;
        font-size:1.1rem;
        margin-left:10px;
        margin-right:10px;
        color:#ECF0F1;
	cursor:pointer;
}
#directory>a:visited{
	color:#ECF0F1;
}
#directory>a:hover{
	color:#E74C3C;
}
#lower{
	width:100%;
	height:100%;
	background-color:white;
}
#guide{
        margin-top:3px;
        margin-left:1rem;
        width:20%;
        height:100%;
        background-color:rgba(149,165,166,0.5);
        padding-top:10px;
        float:left;
}
#guide>a{
        width:100%;
        height:2.5rem;
        display:none;
        font-size:1rem;
        text-align:center;
        margin:3px;
	cursor:pointer;
}
#content{
        float:none;
	width:75%;
        margin-left:25%;
        padding:5px;
}
