#span01{
	margin-top:20px;
	padding:0 10px 0;
	line-height:2px;
	text-align:center;
	border-left:400px solid #ddd;
	border-right:400px solid #ddd;
	font-size:1.7rem;
	font-weight:bold;
}
#login{
	position:relative;
	left:34%;
	margin-top:30px;
	height:20%;
	width:30%;
}
.text1{
	position:absolute;
	top:2rem;
	width:100%;

}
.text2{
	position:absolute;
	top:5rem;
	width:100%;
}
.button1{
	position:absolute;
        top:8rem;
	width:40%;
}
.button2{
        position:absolute;
        top:8rem;
	left:66%;
	width:40%;
}
#span02{
	margin-top:10px;
	height:0px;
        border:1px solid #ddd;
	
}
#msg{
	font-size:0.8rem;
	color:red;
}
