<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="./exp.css">
	<script src="../JS/jquery-1.10.2.js"></script>
	<script>
		$(function(){
			$('#btn').click(function(){
				alert('aa');
				var parm={'b1':$('#b1').val(),'b2':$('#b2').val(),'samples':$('#samples').val()};
				$.post('/cal_iqy_input_post',parm,function(res){$('#result').html(res)});
			});
		});
	</script>
</head>
<body>
	<p>样品光子数的输入格式为:
<pre>
样品1名称 样品1反射光子数 样品1发射光子数
样品2名称 样品2反射光子数 样品2发射光子数
...
</pre>
	</p>
	<input id="b1" type="text" placeholder="请输入标样反射光子数">
	<input id="b2" type="text" placeholder="请输入标样发射光子数"><br/>
	<textarea id="samples" placeholder="请输入样品光子数"></textarea><br/>
	<button id="btn">计算</button>

</body>
</html>
